* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
     
}
.btn {
    background-color: red;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    color: white;
}

.container {
    max-width: 1140px;
margin: 20px auto;
}
.banner {
    background-color: black;
    color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.banner-content {
    padding-left: 45px;
}
.banner-heading {
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
}
.banner-des {
    margin: 15px 0px;
    max-width: 65%;
}
.banner-img {
    display: block;
}

 .upcomming-match {
    display:flex ;
    gap: 10px;
 }
 .upcomming-match-left {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
    width: 25%;
    height: fit-content;
 }
 /* .upcomming-match-left .btn:nth-child(1) {
    background-color: white;
    color: black;
 } */
  .upcomming-match-left .btn:nth-child(1),
  .upcomming-match-left .btn:nth-child(2) {
    background-color: white;
    color: black;
  }
 .upcomming-match-right {
    
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
 }
 .upcomming-match-right .card img {
    height: 200px;
    width: 100%;
 }
 .upcomming-match-right .card h2 {
    font-size: 18px;
    font-weight: 600px;
 }
 .upcomming-match-right .card .btn {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 6px 17px;
 }
 .card-last {
    display: flex;
    gap: 20px;
 }